NET "CLKBP" TNM_NET =  "CLKBP";
TIMESPEC "TS_CLKBP" = PERIOD "CLKBP" 5.0ns HIGH 50%;

NET "CLKBN" TNM_NET =  "CLKBN";
TIMESPEC "TS_CLKBN" = PERIOD "CLKBN" 5.0ns HIGH 50%;

NET "CLKBP" LOC = "H19";
NET "CLKBP" IOSTANDARD = DIFF_SSTL15_DCI;
NET "CLKBN" LOC = "G18";
NET "CLKBN" IOSTANDARD = DIFF_SSTL15_DCI;
NET "rstIn" LOC = "AU38";
Net "rstIn" IOSTANDARD = LVCMOS18;

